In [1]:
print("WELCOME TO AI KI PATHSHALA")

WELCOME TO AI KI PATHSHALA

Syntax and Semantic

In [ ]:
# Indentation

In [2]:
if True:
    print("This is indented")

This is indented

Indentation is used to define blocks of code that belong together
such as the body of a function, the body of a loop, or the conditional statements

In [ ]:
if condition:
    Statement1
    statement2

else:
    statement3

In [ ]:
# Nested Blocks

In [ ]:
if condition:
    if condition2:
        statement1

    else:
        statement2

else:
    statement3

In [4]:
if True:
    print("This is Indented")
  print("This will cause IndentationError")

IndentationError: unindent does not match any outer indentation level (<string>, line 3)

In [6]:
if True:
    print("Rahul")

Rahul

In [ ]:
# Python Semantics

In [ ]:
# Statement
x = 10

# Expression
y = x + 10

Variables and Data Type

In [ ]:
my_variable = 10

my_string = "Lokesh and Rahul"

Rules for Defining Variables:

In [ ]:
# 1. Variable Naming

# Variable must start with a letter or underscore("_")

valid_variable = 10

_validVariable = 20

In [7]:
valid_variable = 10

_validVariable = 20

In [8]:
# 2 Cannot start with a number

1_invalidVariable = 30

SyntaxError: invalid decimal literal (241017571.py, line 3)

In [9]:
# 3 Can contain only alphanumeric characters and underscores

valid_variable_2 = 40

In [10]:
invalid-variable = 50 # This will cause index error

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (966075758.py, line 1)

In [11]:
# 4 Case-Sensitive

myVariable = 60

myvariable = 70

In [12]:
# Assigning Values

my_variable = 10

In [13]:
x = 10
y = 10

x == y

True

In [14]:
x = 20
y = 10

x == y

False

In [15]:
a = y + 10
b = y + 10

a == b

True

Data Types

In [19]:
# Integers

my_int = 5

my_int = 6.7

my_Int = 8

In [20]:
my_int

6.7

In [21]:
type(my_int)

float

In [17]:
type(my_int)

int

In [18]:
# Float : Decimal Numbers

my_float = 5.5
type(my_float)

float

In [22]:
# Strings: Text

my_string = "Heerak Sir"

type(my_string)

str

In [23]:
my_string1 = '1245'

In [24]:
type(my_string1)

str

In [25]:
# Boolean: 

my_bool = True

type(my_bool)

bool

In [26]:
print(type(my_bool))

<class 'bool'>

In [28]:
print(type(my_string1))

<class 'str'>

In [29]:
print(type(my_int))

<class 'float'>

In [30]:
# Composite Data Type

# Lists

# Ordered, Mutable collections of items

my_list = [1, 2, 3,"Python", 5.8]

In [31]:
print(type(my_list))

<class 'list'>

In [32]:
my_list[3]

'Python'

In [33]:
my_list[7]

IndexError: list index out of range

In [ ]:
my_list = [1, 2, 3,"Python", 5.8]

In [34]:
my_list[1] = "Alpha"

In [35]:
my_list

[1, 'Alpha', 3, 'Python', 5.8]

In [ ]:
# Tuple

my_tuple = ()