In [4]:
# Composite Data Type

# List

# Ordered, Mutable and collection of items

my_list = [23, 26, 21, "lokesh", 22.56, True]

In [5]:
my_list[3]

'lokesh'

In [6]:
my_list[5]

True

In [7]:
my_list[0] = "rahul"

In [8]:
my_list

['rahul', 26, 21, 'lokesh', 22.56, True]

In [10]:
# Tuple

# Ordered, immutable collection of items

my_tuple = (23, 26, 21, "lokesh", 22.56, True)

In [11]:
my_tuple[2]

21

In [12]:
my_tuple[4]

22.56

In [13]:
my_tuple[2] = "AI"

TypeError: 'tuple' object does not support item assignment

In [14]:
# Dictionaries

# Unordered collection of Key-Value Pairs

my_dict = {"Name" : "Divya", "Age" : 21, "City" : "Delhi"}

In [15]:
my_dict["Name"]

'Divya'

In [16]:
my_dict["Age"]

21

In [17]:
my_dict["Divya"]

KeyError: 'Divya'

In [18]:
# Modifying Dictionary

my_dict["Age"] = 52

In [19]:
my_dict

{'Name': 'Divya', 'Age': 52, 'City': 'Delhi'}

In [20]:
# Set

# Unordered collection of unique items

# No duplicate value can be there

my_set = {1, 2, 3, 3, 7, 9, 7, 9, 9}

In [21]:
my_set

{1, 2, 3, 7, 9}

In [22]:
my_set.add("Earth")

In [23]:
my_set

{1, 2, 3, 7, 9, 'Earth'}

In [24]:
my_set.add(2)

In [27]:
my_set.add(12)

In [28]:
my_set

{1, 12, 2, 3, 7, 9, 'Earth'}

In [29]:
print(type(my_set))

<class 'set'>

In [31]:
print(type(my_dict))

<class 'dict'>

In [ ]:
# Basic Input and Output

In [32]:
print(22)

22

In [33]:
print("Gaurav")

Gaurav

In [34]:
# Input

# We use input() function to get input from the user

# The input() function will always returns string as output

input("Enter your name")

'Anup'

In [36]:
input_name = input("Enter your City")

In [37]:
input_name

'Delhi'

In [38]:
type(input_name)

str

In [42]:
input_mobileno = input("Enter your Mobile No")

In [43]:
input_mobileno

'986543765'

In [44]:
type(input_mobileno)

str

In [ ]:
# Type Casting

# Converting one type of data to another data type

In [45]:
# Converting String to Intergers

input_mobileno = int(input("Enter your Mobile No"))

In [46]:
type(input_mobileno)

int

In [47]:
# String to float

input_mobileno = float(input("Enter your Mobile No"))

In [48]:
type(input_mobileno)

float

In [49]:
# string to integer 

var1 = input("Enter your name")

# Anup

In [50]:
type(var1)

str

In [51]:
var1

'Anup'

In [52]:
int(var1)

ValueError: invalid literal for int() with base 10: 'Anup'

In [53]:
float(var1)

ValueError: could not convert string to float: 'Anup'

In [ ]:
# Comments and Documentation

In [54]:
# Comments

# This is a single-line comment

# Shortcut Windows, Linux: ctrl + / and for Mac Cmd + /

print("Hello")

Hello

In [ ]:
# Muli Line Comments

"""
This is a
Multi-line
comment
i am good
How are you sleeping people in the coding session

"""

In [ ]:
'''
This is a
Multi-line
comment
i am good
How are you sleeping people in the coding session

'''

In [ ]:
# Docstring

# Doctring are specia; comments used to describe the purpose of a function or class

def greet():
    '''
    This function greets the user

    '''
    print("Namaskaram")

In [ ]:
This is a good work

My name is AI KI Pathshala

I am here to learn Python

In [55]:
# String Concatenation

# Is using +

first_name = "Heerak"
last_name = "Mani"

full_name = first_name + last_name
print(full_name)

HeerakMani

In [56]:
first_name = "Heerak"
last_name = "Mani"

full_name = first_name + " " + last_name
print(full_name)

Heerak Mani

In [62]:
# Using +=
full_name = "Heerak"
full_name += " Mani"

print(full_name)

Heerak Mani

In [64]:
# Using Join() Method to concatenate

words = ["Python" , "is", "fun", "learning"]

sentence = " ".join(words)

print(sentence)

Python is fun learning

In [65]:
# String Formatting

# Using the % operator

name = "Lokesh"

age = 25

formatted_string = "My name is %s and I am %d years old"%(name, age)

print(formatted_string)

My name is Lokesh and I am 25 years old

In [66]:
# Using the srt.format() Method

name = "Gaurav"

profession = "CA"

formatted_string = "Hello, my name is {} and I am a {}".format(name, profession)

print(formatted_string)

Hello, my name is Gaurav and I am a CA

In [67]:

name = "Gaurav"

profession = "CA"

formatted_string = "Hello, my name is {} and I am a {}".format(profession, name)

print(formatted_string)

Hello, my name is CA and I am a Gaurav

In [68]:
# Using f-String(Formatted String Literals)

name = "Rakesh"

hobby = "Meditation"

formatted_string = f"My name is {name} and i love {hobby}"

print(formatted_string)

My name is Rakesh and i love Meditation

In [71]:
# Formatting Numbers

pi = 3.14415342783

formatted_pi = f"Pi to three decimal places:{pi:.5f}"

print(formatted_pi)

Pi to three decimal places:3.14415

In [73]:
# Adding commas

large_number = 10000000000

formatted_number = f"The number is: {large_number:,}"

print(formatted_number)

The number is: 10,000,000,000

In [74]:

large_number = "Heerakmanitiwari"

formatted_number = f"The number is: {large_number:,}"

print(formatted_number)

ValueError: Cannot specify ',' with 's'.